/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
ol li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
/*--------------------*/

/*Помогает следить за границами*/
* {
  outline: 1px solid red;
}
/*--------------------*/

body {
  background-color: #536e83;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  color: white;
  max-width: 1440px; /* максимальная ширина экрана */
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

#main {
  width: 100%;
  height: calc(100% - 90px);
  border: 2px solid none;
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.9);
  z-index: 1;
  background: url(../images/pics/dontstartnow.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-origin: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute; /* слой полупрозначный поверх основания */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 12px;
}
.album-pic {
  width: 100%;
  height: 80%;
  background: url(../images/pics/dontstartnow.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-origin: border-box;
  position: relative;
  z-index: 3;
}

/*--------------------*/
.container {
  width: calc(100% - 40px); /* за вычетом маржинга для всего контента */
  box-sizing: border-box;
  margin: auto; /* контейнер выравнен по центру(маржинги по 20рх слева и справа */
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*Подвал*/
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 10px 0;
}

.data,
.git-link {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.git-link a {
  text-decoration: none;
  color: #ffffff;
}
.git-link a:hover {
  color: black;
}

.git-link span {
  padding-left: 5px;
}

.git-link img {
  width: 50px;
  filter: brightness(0) saturate(100%);
}
.git-link img:hover {
  filter: brightness(0) saturate(100%);
}
.school-link img {
  width: 90px;
}

/*--------------------*/
/*Адаптивность*/

@media screen and (max-width: 425px) {
  .modal {
    width: 80%;
    height: 80%;
  }
}
@media screen and (max-width: 320px) {
  #main {
    height: calc(100% - 140px); /*140рх - высота футера + маржинги*/
  }
  #footer {
    flex-direction: column;
    gap: 10px;
    height: 120px;
  }
}
/*--------------------*/
