:root {
  --another-font: 'Merriweather', serif;
  --gold-color: #bdae82;
}

body {
  background: black;
  margin: auto;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
#container {
  width: 1440px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
}
header,
main,
footer {
  flex: 1;
}
main {
  display: flex;
  flex-direction: column;
}
main > section {
  flex: 1;
  border: 1px solid red;
  height: 50px;
}
/* Навбар  */

header {
  background: url(../pictures/hero-bg.png) no-repeat;
  background-size: cover;
  background-origin: border-box;
  position: relative;
}
.navbar {
  height: 90px;
  margin: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
img .logo {
  flex: 1;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav > li {
  list-style-type: none;
  display: inline;
  padding-left: 30px;
}
.nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.nav li a:hover {
  color: var(--gold-color);
  font-weight: bold;
}
.slash::before {
  content: 'en';
  padding-right: 8px;
  font-weight: bold;
  color: var(--gold-color);
  font-size: 20px;
}
.slash::after {
  content: 'ru';
  padding-left: 8px;
  font-size: 20px;
}
/* Карточка фотографа  */
.hero {
  height: 820px;
  z-index: 10;
}
.hero-wrap {
  height: 330px;
  width: 500px;
  margin: 160px 860px 330px 80px;
}

h1 {
  font-family: var(--another-font);
  font-size: 60px;
}
.hero-wrap div p {
  font-size: 20px;
  line-height: 2em;
  padding-right: 30px;
}
.button-hero {
  background: var(--gold-color);
  width: 220px;
  height: 55px;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 2em;
  border: none;
}
.button-hero:hover {
  color: white;
}

/* Заголовок с линиями по бокам  */

h2 {
  font-size: 40px;
  line-height: 2em;
  text-align: center;
  font-family: var(--another-font);
  color: var(--gold-color);
  margin-top: 100px;
  margin-bottom: 60px;
}
h2::before,
h2::after {
  content: '';
  background: var(--gold-color);
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}
h2::before {
  right: 10px;
  margin-left: -50%;
}
h2::after {
  left: 10px;
  margin-right: -50%;
}

/* Карточки со скилами  */
.skills-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}
.skills-cards {
  align-self: center;
  text-align: center;
}
.skills-cards p {
  text-align: center;
  line-height: 2em;
}
.skills-cards img {
  margin-bottom: 30px;
}
